#camera-container {
    width: 100%;
    height: 100vh; /* Full height of the viewport */
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F5F5F5;
    
}

#camera-feed {
    width: 100%;
    height: auto;
    max-width: 800px; /* Limit the max width for better visibility */
    justify-content: center;
    align-items: center;
    border: 10px solid #000000; /* 5px green border */
    border-radius: 20px; /* Optional: rounded corners */
}
